.card{
    width : 100%;
    max-width : 300px;
    border: 1px solid;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0,1);
    transition: transform 0.2s;
    background-color: aquamarine;
}
.fancy-border{
    border: 1px solid;

}